{% extends "base.twig" %}

{% block content %}
<article>
	<div class="o-content-wrapper u-padding-vertical-large">
		<div class="s-content">
			<h1 class="ts-h1">404</h1>
			<p>Sorry, we couldn't find what you're looking for.</p>
		</div>
	</div>
</article>
{% endblock %}
