{% extends "base.twig" %}

{% block content %}
<article>
	<div class="o-wrapper u-padding-vertical-large">
		<div class="s-content">
			{% for image in images %}
				<img src="{{image.src('thumbnail')}}" alt={{image.alt}} >
			{% endfor %}
		</div>
	</div>
</article>
{% endblock %}
