{% extends "base.twig" %}

{% block content %}
<article>
	<div class="o-content-wrapper u-padding-vertical-large">
		<div class="s-content">
			<h1 class="ts-h1">{{post.title}}</h1>
			{{post.content}}
		</div>
	</div>
</article>
{% endblock %}
