<!-- comment box -->
<section class="c-comment-box">
	<!-- comments -->
	<div class="c-comment-box__comments">
		{% if post.comments %}
			<h3> comments </h3>
			{% for cmt in post.comments %}
				{% include "comment.twig" with {comment:cmt} %}
			{% endfor %}
		{% endif %}
	</div>

	{% if post.comment_status == "closed" %}
		<p> comments for this post are closed </p>
	{% else %}
		<!-- comment form -->
		{% include "comment-form.twig" %}
	{% endif %}
</section>
