<header class="c-site-logo" role="banner">
	<a class="c-site-logo__link" href="{% if url %}{{url}}{% else %}{{site.url}}{% endif %}" rel="home">
		<div class="c-site-logo__svg"></div>
		<span class="u-hidden-visually">{{site.name}}</span>
	</a>
</header>
