/* ==========================================================================
   #LINKS
   ========================================================================== */

/**
 * Basic link styles.
 */

.c-link {
  color: $color-link;
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}
