/* ==========================================================================
   #SITE-HEADER
   ========================================================================== */

// .c-site-header {}

.c-site-header__inner {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.c-site-header__menu {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-decoration: none;

  @include mq($until: w960) {
    display: none;
  }
}

.c-site-header__logo,
.c-site-header__right {
  width: 100px;
}
